@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap");

@font-face {
  src: url("../fonts/FontsFree-Net-OperatorMono-Medium.ttf");
  font-family: "diwu-sec";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #8bd358;
}

body {
  font-family: "diwu-sec";
  background-color: #22272e;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: 0;
}

h2 {
  color: var(--text-color);
}

h3 {
  font-family: "diwu-sec";
  margin-bottom: 10px;
}

div {
  list-style-type: none;
  display: flex;  
  flex-direction: column;
}

a {
  color: var(--text-color);
  font-family: "diwu-sec";
  text-decoration: none;
}

/* p {
  margin: 20px 0;
} */

nav {
  width: 50%;
}

div a {
  color: var(--text-color);
  cursor: pointer;
  font-size: 113%;
  /* background-color: #649bcc1f; */
  margin: 5px 10px 5px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 40%;
}

div a:hover {
  background-color: #649bcc3f;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #98c379;
  border-width: 5px;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

.folder {
  color: #649bcc;
}

.image {
    height: 420px;
    width: 980px;
    margin: 2vh;
}

.heading {
  color: var(--text-color);
  font-size: 30px;
  /* letter-spacing: 0; */
  text-align: left;
  margin: 1%;
  display: inline-block;
  /* mixture of block and inline */
}

.heading:hover {
  text-decoration: underline;
}

.name {
  font-size: 180%;
  color: aqua;
  margin: 0 0 0 1%;
  }

.informa {
  margin: 0 0 0 1%;
  color: #8be04d;
  font-size: larger;
  display: inline-block;
}

.writer {
  margin: 0 0.5% 0 1%;
  font-size: x-large;
}

.whati {
  color: rgb(206, 209, 208);
  margin: 0 0 0 1%;
  font-size: large;
}

.whatid {
  font-size: large;
  color: rgb(89, 241, 241);
  margin: 0 0 0 1%;
  }

  .directr {
    color: aliceblue;
  }

  .green {
    color: #8bd358;
    font-size: 180%;
    margin: 1% 0 0 1%;
  }
